<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

	<bean id="movieFinder" class="me.springframework.sample.javame.InMemoryMovieStore">
		<property name="movies">
			<list>
				<bean class="me.springframework.sample.api.BaseMovie">
					<property name="title" value="Bye Bye Blue Bird" />
					<property name="director" value="Katrin Ottarsdottir" />
					<property name="year" value="1999" />
				</bean>
				<bean class="me.springframework.sample.api.BaseMovie">
					<property name="title" value="Into the Wild" />
					<property name="director" value="Sean Penn" />
					<property name="year" value="2008" />
				</bean>
			</list>
		</property>
	</bean>

</beans>